<% content_for :id, "nkcr-containers-show" %>

<h2>
	<%= link_to '↞', nkcr_containers_path %> 
	<%= @container.title %>
</h2>

<p class="type"><%= @container.guid %> (<%= @container.container_type.title %>) : <%= image_tag @container.container_type.image %></p>

<div class="items">
	<p><%= simple_format @container.content %></p>
</div>